.myOrders-body{
    margin-top: 8%;
}

.order-item{
    margin: auto;
    background: #F4F7FC;
    padding: 5px;
    border-radius: 10px;
}

.section-body{
    display: flex;
    background: #F4F7FC;
    margin-top: 1%;
    border-radius: 10px;
}
li{
    color: #6e6d6d;
    margin: auto;
    padding: 10px 5px;
    list-style: none;
}

.delete-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 17px;
}

@media only screen and (max-width: 480px) {
    .item-count{
        display: none;
    }
    .section-body{
        display: flex;
        flex-direction: column;
        background: #F4F7FC;
        margin-top: 25%!important;
        border-radius: 10px;
    }
    .orders-item{
        margin: 30px;
    }
}