.row{
    margin: 100px;
}

@media only screen and (max-width:480px) {
    .row{
        margin-left: -12px;
        margin-bottom: 50px;
    }
    .banner-img{
        height: 200px;
    }
    article{
        margin-left: 50px;
    }
}